

:root{
    --Mobile: 375px;
    --Desktop: 1440px;

/* ## Colors */

/* ### Primary */

--Darkcyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

/* ### Neutral */

--Verydarkblue: hsl(212, 21%, 14%);
--Darkgrayishblue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);

/* ## Typography */

/* ### Body Copy */

--Fontsize: (paragraph): 14px;

/* ### Font */

--Family: [Montserrat](https://fonts.google.com/specimen/Montserrat);
--Weights: 500, 700;

--Family: [Fraunces](https://fonts.google.com/specimen/Fraunces);
--Weights: 700;
}



*{
    
}